@media screen and (max-width:480px){
        .fixed-width {
            width: 100%;
            
        }
        
        .col-3 {
            
            width: 100%;
            
            padding-left: 15px;
            padding-right: 15px;
        }
        
        .col-4 {
           
            width: 100%;
            
            padding-left: 10px;
            padding-right: 10px;
        }
        
        nav {
            
            background-color: #000;
        }
        
        nav .logo {
            
            color: aliceblue;
            line-height: 45px;
        }
        
        nav .menu {
            
        }
        
        nav .menu ul {
            margin: 0;
            padding: 0;
        }
        
        nav .menu li {
            
            list-style: none;
        }
        
        nav .menu a {
            color: #fff;
            text-decoration: none;
            display: block;
            line-height: 45px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            transition: all .3s;
        }
        
        nav .menu a:hover {
            background-color: #555;
        }
        
        header {
            height: 600px;
            background-image: url(images/001.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center
            display: table;
        }
        
        header .overlay {
            height: 600px;
            background-color: rgba(0, 0, 0, .4);
            display: table-cell;
            vertical-align: middle;
        }
        
        header .content {
            color: #fff;
            /*            width: 400px;*/
            margin: auto;
            text-align: center;
        }
        
        header .content h1 {
            font-size: 10px;
        }
        
        header .content a {
            display: inline-block;
            width: 160px;
            color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: #ff004e;
            text-decoration: none;
            
        }
        #about {
            padding-top: 100px;
            padding-bottom:100px;
            text-align: center;
            margin-bottom: 50px;
        }
        #about h2 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #about .col-3 {
            padding-top: 70px;
            
        }
        #about .col-3 h3 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #about .col-3 p {
            line-height: 2em;
            opacity: .8;
        }
        #works {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: #000;
            color: #fff;
            text-align: center;
        }
        #works .col-3 {
            height: 380px;
            background-color: #00f8d2;
            margin-right: 20px;
            margin-bottom: 10px;
        }
/*
        #works h2 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
*/
        #works p {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #service {
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: center;
            
        }
        #service p {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #service .gallery {
            overflow: hidden;
            height: 280px;
        }
        #service img {
            width: 150%;
        }
        #service .col-4 p {
            padding-top: 10px;
            padding-bottom: 10px;
            opacity: .8;
        }
        #service .col-4 h4 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #service .col-4 .social a {
            text-decoration: none;
            color: #000;
            margin-left: 5px;
            margin-right: 5px;
            
        }
        footer{
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: black;
            color: #fff;
            text-align: center;
        }
        footer a{
            color: #eee;
            text-decoration: none;
            margin-left: 30px;
        }
        footer .copyrights{
              
            
        }
        footer .sns{
            
        }
        }